
.table {width:100%}

.left {
    text-align: left;
}

.bottom {
    vertical-align: bottom;
}

th.rotate {
    height: 18vh; /* Höhe des Headers */
    white-space: nowrap;
}

th.rotate > div {
    transform: 
        /* Magic Numbers */
        translate(3px, calc(8.5vh - 16px))
        /* 45 is really 360 - 45 */
        /*rotate(315deg);*/ 
        rotate(270deg);
    width: 30px;  /* Abstand zwischen den Turniernamen */
}